nav ul li a{
    display: inline-block;
    padding: 5px 10px;
    background-color: purple;
    color: white;
    margin-right: 10px;
    text-decoration: none;
}

nav ul li{
    display: inline-block;
    list-style: none;
}

section ol li{
    list-style-type: lower-roman;
}

section ul li{
    list-style-type: square; 
}

#area1{
    background-color: red;
}

#area2{
    background-color: blue;
}

.imgstyle{
    width: auto;
    height: 300px;
}