#wrap {
    width: 85%;
    margin: 0 auto;
}

header {
    border: 1px solid silver;
    background-color: rgb(204, 255, 255);
    border-radius: 10px;

}

header img {
    margin: 20px 0 0 20px;
}

header p {
    margin-left: 20px;
}

nav {
    background-color: rgb(255, 232, 247);
    border-radius: 10px;
    border: 1px solid silver;
    margin-top: 10px;
}

nav ul li a:hover {
    background-color: mediumpurple;
    color: white;
    font-weight: bolder;
    border-radius: 10px;
}

div.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav ul li a {
    display: inline-block;
    padding: 20px 50px;
    text-decoration: none;
    color: black;
}

aside {
    width: 18%;
    background-color: skyblue;
    border: 1px solid silver;
    border-radius: 10px;
}

aside ul li {
    list-style: none;
}

aside ul li a {
    display: inline-block;
    text-decoration: none;
    color: purple;
    padding: 10px 10px;
}

aside ul li a:hover {
    background-color: mediumpurple;
    color: white;
    font-weight: bolder;
    border-radius: 10px;
}

article {
    width: 80%;
    background-color: lightyellow;
    border: 1px solid silver;
    border-radius: 10px;
}

article h2, article h3 {
    margin-left: 20px;
}

article p {
    margin-left: 25px;
}

article section {
    width: 70%;
    margin: 10px 30px;
    border: 1px solid silver;
    border-radius: 10px;
    background-color: white;
}

article section h3 {
    color: red;
    margin-left: 40px;
}

article section p {
    margin-left: 30px;
}

footer {
    background-color: skyblue;
    border: 1px solid silver;
    border-radius: 10px;
    margin-top: 10px;

}

footer p {
    padding: 30px 10px;
}